/* $blurple: #1a006e;
$paleBlurple: #d2ddf7; */

body {
  background-color: #fcc5c0;
  color: #4e5b91;
  /* color: #d2ddf7; */
  /* display: flex;
  align-content: center; */
  text-align: center;
  margin-top:15%;
  margin-bottom: 15%;
  /* position: absolute; */
}

h1 {
  font-weight: 500;
  font-size: 70px;
}