/* $blurple: #1a006e;
$paleBlurple: #d2ddf7; */

body {
  background-color: #0a0336;
  color: #d2ddf7;
  /* display: flex;
  align-content: center; */
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
  /* position: absolute; */
}

h1 {
  font-weight: 500;
  font-size: 70px;
}